a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;

}
.header{
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
.twonum,.sixnum{
    font-size: 60px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 30px;
}
.streak,.longestStreak,.reqtxt{
    font-weight: normal;
    font-size: 30px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.guess{
    width: 300px;
    height: 30px;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid black;
    padding-left: 3px;
    margin-right: 10px;
    
}
.submit,.hideshow{
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgb(55, 248, 255);
    color: black;

}
.oneCardImg{
    width: 10px;
    height: 10px;
}
#digits{
    display: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#numbersformdiv{
    display: flex;
}
#digits{
    margin-top: 50px;
    gap: 20px;
}
.deckmain{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
#numberdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#numbersformdiv,#digits,.deckmain{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numbertxt{
    font-size: 24px;
    font-weight: normal;
    word-wrap: break-word;
    white-space: normal;
    width: 90vw;
}
.correct{
    font-weight: normal;
    font-size: 24px;
}

@media (width <= 600px) {
    a{
        font-size: 12px;
    }
}